.navbar{
    float: left;
    width: 8%;
    height: auto;
}

.content{
    float: right;
    width: 87%;
    height: 300px;
}

.dialog{
    height: 400px;
    width: 750px;
}

mat-selection-list{
    width: 100%;
}

#myIcon{
    font-size: 25px; 
    text-align: center;
}
