<mat-toolbar class="navbar">
    <div class="box" style="margin-left: 15%;">
        <img src="../../assets/images/logo.png" width="40px" height="40px">
        <span style="margin-left: 5%;" >SimpleAI</span>
    </div>
    <span class="example-spacer"></span>
    <div class="box">
        <img style="border-radius: 50%;" src="../../assets/images/photo.jpg" width="35px" height="35px" alt="">
        <span style="margin-left: 5%; font-size: 15px;">Benmessaoud Abdellah</span>
    </div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu"  >
            <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Your Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>brightness_high</mat-icon>
                <span>Account Setting</span>
            </button>
            <button mat-menu-item>
                <mat-icon>help_outline</mat-icon>
                <span>HELP</span>
            </button>
            <button mat-menu-item>
                <mat-icon>input</mat-icon>
                <span>LogOut</span>
            </button>
        </mat-menu>
    </div> 
</mat-toolbar>