<div>
  <div>
    <app-head-one></app-head-one>
  </div>
  <div class="connexion">
    <div class="card-signIn">
      <app-card-sign-in></app-card-sign-in>
    </div>
    <div class="video-descriptif">
      <div class="card-Video">
        <iframe width="100%" height="320px" src="https://www.youtube.com/embed/X3paOmcrTjQ?autoplay=1&mute=1&controls=0&showinfo=0&loop=1"></iframe>
      </div>
    </div>
  </div>
  <div class="content">
    <app-content-one></app-content-one>
  </div>
  <div>
    <app-first-footer></app-first-footer>
  </div>
</div>