.box{
    background-color: grey; 
    width: 240px; 
    height: 545px; 
    margin: 3rem 0rem;
}

.center-vertically{
    display:flex;
    align-items: center;
}

a:link{
    text-decoration: none;
}