.box{
    background-color: #ff7474; 
    width: 240px; 
    height: auto; 
    margin: 3rem;
    border-radius: 15px;
}

.center-vertically{
    display:flex;
    align-items: center;
}

a:link{
    text-decoration: none;
}