<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
      <section class="mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <fa-icon [icon]="faGoogle"></fa-icon>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="black"
          >
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </section>
    </div>
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">http://www.SimpleAI.com</a>
    </div>
  </footer>