<div> 
  <div  style="margin-bottom: 10px;" class="input-group">
    <input name="id" type="search" class="form-control"  (ngSubmit)="getNull()" [routerLink]="['/home/']" [(ngModel)]="id" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" (click)="getId()" [routerLink]="['/home/'+id]" class="btn btn-info btn-rounded">
        Search
    </button>
  </div>
  <div>
      <mat-toolbar class="option">
          <span class="results">{{a}} Results</span>
          <mat-form-field appearance="standard">
              <mat-label>Sort By:</mat-label>
              <select matNativeControl required>
                <option value="Relevancy">Relevancy</option>
                <option value="Date">Date</option>
              </select>
          </mat-form-field>
      </mat-toolbar>
  </div>
  <div>
      <app-show-data></app-show-data>
  </div>
</div>
